In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
df= pd.read_csv("Social_Network_Ads.csv")
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
df.shape

(400, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [ ]:
d={'Yes':1,'No':0}
df['Age']=df['Age'].map(d)
d
df['EstimatedSalary']=df['EstimatedSalary'].map(d1)